services:
  wordpress_phpunit:
    depends_on:
      - mysql_phpunit
    build: './docker/phpunit'
    network_mode: slirp4netns
    environment:
      PHPUNIT_DB_HOST: "mysql_phpunit"
    volumes:
      - "./richie:/app"
      - ./richie-editions-wp:/app-editions
      - "testsuite:/tmp"
  mysql_phpunit:
    image: mariadb
    network_mode: slirp4netns
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "wordpress_test"
      MYSQL_ROOT_PASSWORD: ""

volumes:
  testsuite: {}
