services:
  wordpress_phpunit:
    depends_on:
      - mysql_phpunit
    build: './docker/phpunit'
    network_mode: pasta
    environment:
      PHPUNIT_DB_HOST: "mysql_phpunit"
    volumes:
      - "./richie:/app"
      - ./richie-editions-wp:/app-editions
      - "testsuite:/tmp"
  mysql_phpunit:
    image: docker.io/library/mariadb:10.6.4-focal
    command: '--default-authentication-plugin=mysql_native_password'
    network_mode: pasta
    ports:
    - "3306:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "wordpress_test"
      MYSQL_ROOT_PASSWORD: ""


volumes:
  testsuite: {}

