services:
  db:
    image: docker.io/library/mariadb:10.6.4-focal
    command: '--default-authentication-plugin=mysql_native_password'
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: somewordpress
      MARIADB_DATABASE: wordpress
      MARIADB_USER: wordpress
      MARIADB_PASSWORD: wordpress


  wordpress:
    depends_on:
      - db
    image: docker.io/library/wordpress:latest
    restart: always
    ports:
      - "8234:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DEBUG: 1
      WORDPRESS_CONFIG_EXTRA: |
        define( 'WP_CACHE', false );
        define( 'WP_DEBUG_LOG', true );
        define( 'WP_DEBUG_DISPLAY', true );
        define( 'WP_HOME', 'http://wordpress.local:8234' );
        define( 'WP_SITEURL', 'http://wordpress.local:8234' );
    volumes:
      - wp:/var/www/html
      - ./wp-content:/var/www/html/wp-content
      - ./richie:/var/www/html/wp-content/plugins/richie
      - ./richie-editions-wp:/var/www/html/wp-content/plugins/richie-editions-wp
      - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini


  cli:
    depends_on:
      - db
      - wordpress
    image: wordpress:cli
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
    volumes:
      - wp:/var/www/html
      - ./richie:/var/www/html/wp-content/plugins/richie
      - ./richie-editions-wp:/var/www/html/wp-content/plugins/richie-editions-wp


  composer:
    depends_on:
      - wordpress
    image: composer/composer
    working_dir: /var/www/html/wp-content/plugins/richie
    restart: 'no'
    volumes:
      - wp:/var/www/html
      - ./richie:/var/www/html/wp-content/plugins/richie

volumes:
    db_data: {}
    wp: {}
