<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" convertDeprecationsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./includes</directory>
      <file>./public/class-richie-public.php</file>
      <file>./admin/class-richie-admin.php</file>
    </include>
    <exclude>
      <directory suffix=".php">/path/to/files</directory>
      <file>/path/to/file</file>
    </exclude>
    <report>
      <clover outputFile="/tmp/coverage.xml"/>
      <html outputDirectory="/tmp/report" lowUpperBound="35" highLowerBound="70"/>
      <php outputFile="/tmp/coverage.serialized"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="richie Test Suite">
      <directory prefix="test-" suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="/tmp/logfile.xml"/>
    <testdoxHtml outputFile="/tmp/testdox.html"/>
    <testdoxText outputFile="/tmp/testdox.txt"/>
  </logging>
</phpunit>
